extends ./layout

block content

	section.flexbox-grid
		.intro

	section.flexbox-grid-motto1
		h1#motto1 Clothing

	.parallax
		.parallax__group
			.parallax__layer.parallax__layer--back
				section.motto
					img.service-item(src='http://i.imgur.com/HkZEkEbm.jpg', alt='...')
					img.service-item(src='http://i.imgur.com/tebxsNdm.jpg', alt='...')
					img.service-item(src='http://i.imgur.com/DfTykxAm.jpg', alt='...')
	section.flexbox-grid-motto2
		h1.text-fade-in Community
	section.dapper
	section.flexbox-grid-motto3
		h1.text-fade-in Confidence
	section.whyVFix
